@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app {
        display: grid;
        min-height: 100vh;
        min-height: 100dvh;
        grid-template-areas:
            "header"
            "main";
        grid-template-rows: auto 1fr;
    }

    :root {
        --bg1: 248 249 250;
        --bg2: 251 252 253;
        --bg3: 230 232 235;
        --primary: 115 154 240;
        --onBg: 0 0 0;
        --onPrim: 255 255 255;
        --success: 54 211 153;
        --onSuccess: 0 0 0;
        --danger: 248 114 114;
        --onDanger: 0 0 0;
    }

    .dark {
        --bg1: 44 44 44;
        --bg2: 75 75 75;
        --bg3: 56 56 56;
        --primary: 115 154 240;
        --onBg: 255 255 255;
        --onPrim: 255 255 255;
        --success: 54 211 153;
        --onSuccess: 0 0 0;
        --danger: 248 114 114;
        --onDanger: 0 0 0;
    }
}
